# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage (unused, but ignored defensively)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
*.mobileprovision
*.p8
*.p12
*.cer
